Pods/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
**/fastlane/FastlaneRunner

.DS_Store
.AppleDouble
.LSOverride
._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.icloud

xcuserdata/

*.hmap

*.ipa
*.dSYM.zip
*.dSYM

timeline.xctimeline
playground.xcworkspace

.build/

Dependencies/
.accio/

iOSInjectionProject/

Packages
xcuserdata
*.xcodeproj